<header>
    <div class="header-inner">
        <div class="row">
            <div class="header-left col-md-2">
                @if(!(bool) ViewData["IsRoot"])
                {
                    <a href="/">&laquo; Tillbaka</a>
                }
            </div>
            <div class="col-md-8">
                <h2>@ViewData["Title"]</h2>
            </div>
            <div class="header-right col-md-2">
                <span class="visible-lg-inline">Se p&aring;</span>
                <a href="https://github.com/datasektionen/Docs" class="primary-action">GitHub</a>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</header>
<div id="content">
    <div class="row">
        <div class="col-sm-4 col-md-3">
            <div class="secondary-nav">
                <h3><a href="@ViewData["Path"]">@ViewData["ParentTitle"]</a></h3>
                <ul>
                    @foreach (aurora.Document doc in ViewData["Children"] as IEnumerable<aurora.Document>)
                    {
                        if (ViewData["Slug"].Equals(doc.Slug))
                        {
                            <li>
                                <a class="text-theme-color" href="@ViewData["Path"]/@doc.Slug/">
                                    <strong>@doc.Title</strong>
                                </a>
                            </li>
                        }
                        else
                        {
                            <li><a href="@ViewData["Path"]/@doc.Slug/">@doc.Title</a></li>
                        }
                    }
                </ul>
            </div>
        </div>
        <div class="col-sm-8 col-md-9">
            @Html.Raw(ViewData["Body"])
        </div>
        <div class="clear"></div>
    </div>
</div>